/*		color scheme
Dark
#383F51

Light Blue
#6D9DC5

Dark Blue
#187795

Pale Blue
#38686A

Green
#1AA37E

background color="#AEC5EB" or DAE9FF

*/
@font-face {
	font-family: OpenDyslexicAlta;
	font-weight: bold;
	src: url("open_dyslexic/OpenDyslexicAlta-Bold.otf") format("opentype");
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #DAE9FF;
}

.region{
	border: 1px solid #AAAAAA25;

	/* display:block; */
	position: absolute;
	left: 5%;
	width: 90%;
	height: 70px;
}
/*
.button {
	
	background-image:
	linear-gradient(to right, #FF0000 0%, #00FF00 50%, #0000FF 100%)
	background-color: #4CAF50;
	
	border: 2px solid #FF0000;
	padding: 15px 32px;
	border-radius: 12px;
	text-align: center;
	text-decoration: none;
//	display: inline-block;
	font-size: 20px;
	//		center
	
    margin: 0 auto;
	
}*/

.teamName{
	font-size: 40px;
	color: #383F51;
    margin: 0 auto;
	position: absolute;
	top: 10px;
	left: 5px;
}

.button_example{
	position: absolute;
	-webkit-box-shadow: #FEFFFF 0px 1px 3px inset;
	-moz-box-shadow: #FEFFFF 0px 1px 3px inset;
	box-shadow: #FEFFFF 0px 1px 3px inset;
	-webkit-border-radius: 7px; -moz-border-radius: 7px;border-radius: 7px;font-size:21px;
	
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
	font-weight:bold;
	color: #05142E;
	
	background-color: #6D9DC5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6D9DC5), to(#187795));
	background-image: -webkit-linear-gradient(top, 	#6D9DC5, #187795);
	background-image: -moz-linear-gradient(top, 	#6D9DC5, #187795);
	background-image: -ms-linear-gradient(top,		#6D9DC5, #187795);
	background-image: -o-linear-gradient(top, 		#6D9DC5, #187795);
	background-image: linear-gradient(to bottom, 	#6D9DC5, #187795);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6D9DC5, endColorstr=#187795);
	
	//		do not allow text to be selected
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-ms-user-select: none;
	user-select: none;
}

.button_example:hover{
	background-color: #26759E; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759E), to(#133D5B));
	background-image: -webkit-linear-gradient(top, #26759E, #133D5B);
	background-image: -moz-linear-gradient(top, #26759E, #133D5B);
	background-image: -ms-linear-gradient(top, #26759E, #133D5B);
	background-image: -o-linear-gradient(top, #26759E, #133D5B);
	background-image: linear-gradient(to bottom, #26759E, #133D5B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759E, endColorstr=#133D5B);
	
//	box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);//		x offset,y offset, blur radius, shadow size, color
}

.button:hover {
//	background-color: #FF00FF;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);//		x offset,y offset, blur radius, shadow size, color
//	background-position: right center;
	color: white;
}

.disabled {
	opacity: 0.6;
}





.profilePic{
	position: absolute;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
	border: 0px;
	/*	
	-webkit-box-shadow: #FEFFFF 0px 1px 3px inset;
	-moz-box-shadow: #FEFFFF 0px 1px 3px inset;
	box-shadow: #FEFFFF 0px 1px 3px inset;
	-webkit-border-radius: 7px; -moz-border-radius: 7px;border-radius: 7px;font-size:21px;
	
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	color: #05142E;
	
	background-color: #187795; background-image: -webkit-gradient(linear, left top, left bottom, from(#187795), to(#1C5A85));
	background-image: -webkit-linear-gradient(top, 	#187795, #1C5A85);
	background-image: -moz-linear-gradient(top, 	#187795, #1C5A85);
	background-image: -ms-linear-gradient(top,		#187795, #1C5A85);
	background-image: -o-linear-gradient(top, 		#187795, #1C5A85);
	background-image: linear-gradient(to bottom, 	#187795, #1C5A85);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#187795, endColorstr=#1C5A85);
	*/
	
	//		do not allow text to be selected
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-ms-user-select: none;
	user-select: none;
	
	width: 27px;
	height: 27px;
    outline: none !important;
}

.profilePic .playerName {
	visibility: hidden;
	
	width: 200px;
	margin-left: -100px;/*		half of width*/
	
	background-color: #187795;
	color: #000000;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	opacity: 0;
	font-size: 22px;
	pointer-events: none;
	transition: opacity 0.25s;
	
	//		stop blue highlight when clicked on
    outline: none !important;
}

.profilePic .playerName::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.profilePic:hover .playerName {
	visibility: visible;
	opacity: 1;
}


	/*		-----------------------------------------------------------------------		[   Banner   ]		-----------------------------------------------------------------------*/


/* The hero image */
.banner-image {
	position: absolute;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #1AA37E;
	top: 0;
	background-image: linear-gradient(#1AA37EFF, #00000060);
	
	/*
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("StandinLogo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	*/
}

/* Place text in the middle of the image */
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}